body{
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background-color: #323d40;
  color: #95a4a9;
}

h1,h2,h3,h4{
  font-family: Roboto, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #e5e5e5;
}
